{% extends 'common/layout.html' %}
{% load static %}
{% load tags filters %}
{% block content %}
    <div id="howtouse_full_content">
        {% page_title 'How to use' %}
        {% work_indented 'Operators'|turq 'overview' id='operators_htu' %}
        <br>
        {% basic_text_white '"Operators" tell autosyntax which type of code to generate.' %}
        {% br 1 %}
        <div class="basic-text f-size-23 m-right-200 indented">
            >
            {{ 'Operators are almost always built-in elements<br>'|ind_half }}
            {{ 'from the python standard library, so that no learning is needed.'|ind }}
            {% br 2 %}
            >
            {{ 'In a given line, the Operator is the first argument.'|ind_half }}
            {% br 2 %}
            >
            {{ 'Currently available Operators:<br>'|ind_half }}
            <span class="indented">
			{% for operator in operators %}
                <span id="operator_{{ forloop.counter }}">
				{% if forloop.last %}
                    {{ operator|mono_bg_it }}.
                {% else %}
                    {{ operator|mono_bg_it }},
                {% endif %}
				</span>
            {% endfor %}
			</span>
        </div>
        {% br 7 %}
        {#        D O T T E D  A R G U M E N T S#}
        {% work '.Dotted'|turq 'arguments' id='dotted_htu' %}
        {% basic_text_white 'Mark an argument with a dot to toggle a less common use-case.' %}
        <br>
        {% basic_text_ind 'With basic operators, arguments turn to strings.<br>"Dotting" and argument denotes a variable.' %}

        <div class="animation">
            <div id="animation_1">
                {% mono_mright_300 'list milk nutella' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft150 %}
                {% list_block 'milk' 'nutella' %}
            </div>
            <div id="animation_2" class="disp-none">
                {% mono_mright_300 'list milk .nutella' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft136 %}
                {% list_block 'milk' 'nutella'|cl %}
            </div>
        </div>
    </div>
    <br>
    {#    D O T S T R  O P S#}
    <div class="basic-text f-size-23 m-right-200 indented">
        The operators which follow this rule are:<br>
        {% for operator in dotstr_ops %}
            <span id="operator_{{ forloop.counter }}">
			{% if forloop.last %}
                {{ operator|mono_bg_it }}.
            {% else %}
                {{ operator|mono_bg_it }},
            {% endif %}
				</span>
        {% endfor %}
    </div>
    {% br 3 %}
    {% basic_white_mright200 'In other cases, using a variable is much more likely than a string.' %}
    {#    W I T H  O T H E R  O P E R A T O R S#}
    <br>
    {% basic_text_ind 'These cases are reversed; a dot makes a string.' %}
    {#    F O R  C H A R A C T E R S (anim 3-4)#}
    <div class="animation">
        <div id="animation_3">
            {% mono_mright_300 'for .characters' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft136 %}
            <div class="code-block">
                {{ 'for '|k }} {{ 'character '|cl }}
                {{ 'in '|k }}{{ "'characters'"|string }}{{ ':'|cl }}
            </div>
        </div>
        <div id="animation_4" class="disp-none">
            {% mono_mright_300 'for characters' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft150 %}
            <div class="code-block">
                {{ 'for '|k }} {{ 'character '|cl }} {{ 'in '|k }}{{ 'characters:'|cl }}
            </div>
        </div>
    </div>
    <br>
    {#    D O T V A R  O P S#}
    <div class="basic-text f-size-23 m-right-200 indented">
        The operators which follow this rule are:<br>
        {% for operator in dotvar_ops %}
            <span id="operator_{{ forloop.counter }}">
						{% if forloop.last %}
                            {{ operator|mono_bg_it }}.
                        {% else %}
                            {{ operator|mono_bg_it }},
                        {% endif %}
				</span>
        {% endfor %}
    </div>
    {#    N O T E  N U M B E R#}
    {% br 2 %}

    <div class="basic-text m-right-200">
        {{ '*'|turq }}
        Note: Globally, a number is left as is by default.<br>
    </div>
    <div class="animation">
        <div id="animation_5">
            {% mono_mright_300 'dict when_im 64' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft150 %}
            {% dict_block 'when_im' '64'|n %}
        </div>
        <div id="animation_6" class="disp-none">
            {% mono_mright_300 'dict when_im .64' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft136 %}
            {% dict_block 'when_im' '64' %}
        </div>
    </div>



    {% br 7 %}
    {#    I N L I N E  M E T H O D S#}
    {% work 'Inline' 'methods()'|turq id='inline_htu' %}
    {% basic_white_mright200 'Type a built-in method before an argument to apply it.' %}
    <br>
    {% basic_text_ind 'This is useful in cases like:' %}
    {% mono_mright_300 'for enumerate things' %}
    <div class="code-block">
        {{ 'for '|k }} {{ 'i'|cl }}{{ ', '|k }}
        {{ 'thing '|cl }}{{ 'in '|k }}{{ 'enumerate'|sup }}
        {{ "(things):"|cl }}
    </div>

    {% br 2 %}

    {% basic_text_ind 'or:' %}
    {% mono_mright_300 'my_dict = dict zip keys values' %}
    <div class="code-block">
        {{ 'my_dict = '|cl }} {{ 'dict'|sup }}{{ '('|cl }}
        {{ 'zip'|sup }}{{ '(keys'|cl }}{{ ', '|k }}
        {{ "values)):"|cl }}
    </div>



    {% br 7 %}

    {#    C O M P L E X  O P E R A T O R S#}
    {% work 'Complex'|turq 'operators' id='complex_htu' %}

    {#    D E F#}
    {% basic_white_mright200 'def'|mono_bg_it %}
    <br>
    <div class="basic-text f-size-23 m-right-200 indented">
        >
        {{ "1st argument is the method's name"|ind_half }}
        {% br 2 %}
        >
        {{ "2nd+ arguments are the method's parameters"|ind_half }}
        {% br 2 %}
        >
        {{ "Dotting an argument makes it the default value of the previous one"|ind_half }}
        {% br 2 %}
        >
        {{ "A built in method sets the type of the previous argument"|ind_half }}
    </div>
    {% basic_text_ind 'fun stuff:'|white %}

    <div class="basic-text f-size-23 m-right-200 indented">
        >
        {{ "'args' and 'kwargs' are translated to *args and **kwargs"|ind_half }}
        {% br 2 %}
        >
        {{ "If indentation is found, a 'self' is added as first parameter"|ind_half }}
        {% br 2 %}
        >
        {{ "Magic methods are wrapped in __dunder__"|ind_half }}
        {% br 2 %}
    </div>
    {% mono_mright_300 'def get_age int dob int' '1900'|id:'1900_click' ' earthyears .True args kwargs' %}
    <div class="code-block">
        {{ 'def '|k }}
        {{ 'get_age(dob'|cl }}
        {% span '='|cl '1900'|n id='1900_res' %}
        {{ ', '|k }}
        {{ 'earthyears='|cl }}
        {{ 'True, '|k }}
        {{ '*args'|cl }}
        {{ ', '|k }}
        {{ '**kwargs):'|cl }}
        {{ '<br>'|cb:2 }}

        {{ '"""'|doc_bold }}
        {{ '<br>'|cb:2 }}

        {{ ':type '|doc_bold }}
        {{ 'dob: int '|string }}
        {{ '<br>'|cb:2 }}

        {{ ':rtype: '|doc_bold }}
        {{ 'int'|string }}
        {{ '<br>'|cb:2 }}

        {{ '"""'|doc_bold }}
        {{ '<br>'|cb:2 }}
        {{ '|'|span:'code-literal dark-grey' }}

    </div>

    {% br 2 %}

    {#    C L A S S#}
    {% basic_white_mright200 'class'|mono_bg_it %}
    <br>
    <div class="basic-text f-size-23 m-right-200 indented">
        >
        {{ "1st argument is the class's name"|ind_half }}
        {% br 2 %}
        >
        {{ "2nd+ arguments are its super classes"|ind_half }}
        {% br 2 %}
        >
        {{ "Typing 'init' creates an __init__ method"|ind_half }}
        {% br 2 %}
        >
        {{ "Following 'init', insert parameters, typings and default values"|ind_half }}
    </div>
    {% basic_text_ind 'fun stuff:'|white %}
    <div class="basic-text f-size-23 m-right-200 indented">
        >
        {{ "'init' arguments are automatically set as data members"|ind_half }}
        {% br 2 %}
        >
        {{ "If any super class was typed, its __super__ is called."|ind_half }}
        {% br 2 %}
    </div>
    {% mono_mright_300 "class Earth Planet init coords tuple habitable .True args" %}
    <div class="code-block">
        {{ "class "|k }}
        {{ "Earth(Planet):"|cl }}
        {{ "<br>"|cb:2 }}

        {{ "def "|k }}
        {{ "__init__"|m }}
        {{ "("|cl }}
        {{ "self"|self }}
        {{ ", "|k }}
        {{ "coords"|cl }}
        {{ ", "|k }}
        {{ "habitable="|cl }}
        {{ "True, "|k }}
        {{ "*args):"|cl }}
        {{ "<br>"|cb:4 }}

        {{ '"""'|doc_bold }}
        {{ '<br>'|cb:4 }}

        {{ ':type '|doc_bold }}
        {{ 'coords: tuple '|string }}
        {{ '<br>'|cb:4 }}

        {{ '"""'|doc_bold }}
        {{ '<br>'|cb:4 }}

        {{ "self"|self }}
        {{ ".coords = coords"|cl }}
        {{ "<br>"|cb:4 }}

        {{ "self"|self }}
        {{ ".habitable = habitable"|cl }}
        {{ "<br>"|cb:4 }}

        {{ "super"|sup }}
        {{ "()."|cl }}
        {{ "__init__"|m }}
        {{ "()"|cl }}
    </div>




    <script type="module" src="{% static 'howtouse/js/htu.continue_arrow.js' %}"></script>
    <script src="{% static 'howtouse/js/htu.js' %}"></script>
{% endblock %}
