{% extends 'common/common.layout.html' %}
{% load static %}
{% load tags filters %}
{% block content %}
    <div id="howtouse_full_content">

        <div class="space fs60 pt20">How to use</div>
        {% br 2 %}
        {#        O V E R V I E W#}
        <div class="work fs30 pl40" id="operators_htu">
            <span class="turquoise">Operators</span>
            overview
        </div>
        <br>
        <div class="basic-text mt25 white fs25 mr400">
            "Operators" tell autosyntax which type of code to generate.
        </div>
        {% br 1 %}


        {#        > O V E R V I E W  FOR#}
        <div class="mr400">
            <div class="basic-text mt25 fs23">
                <ul class="my-ul" id="ops_list_overview">
                    <li>Operators are almost always built-in elements from the python standard library, so that no
                        learning
                        is needed.
                    </li>
                    <li>In a given line, the Operator is the first argument.</li>
                    <li id="ops_list_overview_3">Currently available Operators:<br></li>
                </ul>
            </div>


            {% br 7 %}
            {#        D O T T E D  A R G U M E N T S#}
            <div class="fs30 work" id='dotted_htu'>
                <span class="turquoise">.Dotted</span>
                arguments
            </div>

            <br>
            <div class="basic-text mt25 fs25">
                <div class="white">
                    Mark an argument with a dot to toggle a less common use-case.
                </div>
                <br>

                <div class="pl40 fs23">
                    With basic operators, arguments turn to strings.
                    <br>"Dotting" and argument denotes a variable.
                </div>
            </div>


            {#        {% basic_text_ind 'With basic operators, arguments turn to strings.<br>"Dotting" and argument denotes a variable.' %}#}
            <div class="animation fs23">
                <div id="animation_1">
                    <div class="monospace pl40 mt20">list milk nutella
                        <span class="op7 ml150 fs20">
						PRESS TO TOGGLE EXAMPLE
					</span>
                    </div>

                    <div class="monospace-bg fs0 pl40 mt20">
                        <span class="fs23 code-literal">[</span>
                        <span class="fs23 str">'milk'</span>
                        <span class="fs23 kept">, </span>
                        <span class="fs23 str">'nutella'</span>
                        <span class="fs23 code-literal">]</span>
                    </div>


                </div>
                <div id="animation_2" class="disp-none">
                    <div class="monospace pl40 mt20">list milk .nutella
                        <span class="op7 ml136 fs20">
						PRESS TO TOGGLE EXAMPLE
					</span>
                    </div>

                    <div class="monospace-bg fs0 pl40 mt20">
                        <span class="fs23 code-literal">[</span>
                        <span class="fs23 str">'milk'</span>
                        <span class="fs23 kept">, </span>
                        <span class="fs23 code-literal">nutella]</span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
    {#    >D O T T E D  FOR#}
    <div class="basic-text mt25 fs23 mr200 pl40">
        The operators which follow this rule are:<br>
        <span id="ops_list_dotted"></span>
    </div>



    {% br 3 %}

    {#    I N  O T H E R  C A S E S#}
    <div class="fs23">
        <div class="basic-text mt25">
            <div class="white fs25 mr200">
                In other cases, using a variable is much more likely than a string.
            </div>

            <br>
            <div class="pl40">
                These cases are reversed; a dot makes a string.
            </div>
        </div>
        {#    F O R  C H A R A C T E R S (anim 3-4)#}
        <div class="animation mr400">
            <div id="animation_3">
                <div class="monospace pl40 mt20">for .characters
                    <span class="op7 ml136 fs20">
						PRESS TO TOGGLE EXAMPLE
					</span>
                </div>

                <div class="monospace-bg fs0 pl40 mt20">
                    <span class="fs23 kept">for </span>
                    <span class="fs23 code-literal">character </span>
                    <span class="fs23 kept">in </span>
                    <span class="fs23 str">'characters':</span>
                </div>


            </div>
            <div id="animation_4" class="disp-none">
                <div class="monospace pl40 mt20">for characters
                    <span class="op7 ml150 fs20">
						PRESS TO TOGGLE EXAMPLE
					</span>
                </div>
                <div class="monospace-bg fs0 pl40 mt20">
                    <span class="fs23 kept">for </span>
                    <span class="fs23 code-literal">character </span>
                    <span class="fs23 kept">in </span>
                    <span class="fs23 code-literal">characters:</span>
                </div>


            </div>
        </div>

        <br>

        <div class="basic-text mt25 mr200">
            {#    D O T V A R  O P S#}
            <div class=" pl40">
                The operators which follow this rule are:<br>
                <span id="ops_list_for"></span>
            </div>

            {% br 2 %}

            {#    N O T E  N U M B E R#}
            {{ '*'|turq }}
            Note: Globally, a number is left as is by default.<br>
        </div>
    </div>
    <div class="animation mr400 fs23">
        <div id="animation_5">
            <div class="monospace pl40 mt20">dict when_im 64
                <span class="op7 ml150 fs20">
						PRESS TO TOGGLE EXAMPLE
					</span>
            </div>

            <div class="monospace-bg fs0 pl40 mt20">
                <span class="fs23 code-literal"> {</span>
                <span class="fs23 str">'when_im'</span>
                <span class="fs23 code-literal">: </span>
                <span class="fs23 int">64</span>
                <span class="fs23 code-literal">}</span>
            </div>


        </div>
        <div id="animation_6" class="disp-none">

            <div class="monospace pl40 mt20">dict when_im .64
                <span class="op7 ml136 fs20">
						PRESS TO TOGGLE EXAMPLE
					</span>
            </div>

            <div class="monospace-bg fs0 pl40 mt20">
                <span class="fs23 code-literal"> {</span>
                <span class="fs23 str">'when_im'</span>
                <span class="fs23 code-literal">: </span>
                <span class="fs23 str">'64'</span>
                <span class="fs23 code-literal">}</span>
            </div>


        </div>
    </div>



    {% br 7 %}
    {#    I N L I N E  M E T H O D S#}
    <div class="fs30 work" id='inline_htu'>
        Inline
        <span class="turquoise">methods()</span>
    </div>
    <div class="basic-text fs23">
        <div class="basic-text fs25 mt25">
            <div class="white mr200">
                Type a built-in method before an argument to apply it.
            </div>

        </div>
        <br>
        <div class="pl40">
            This is useful in cases like:
        </div>
        <div class="mr400">
            <div class="monospace pl40 mt20">for enumerate things</div>

            <div class="monospace-bg fs0 pl40 mt20">
                <span class="fs23 kept">for </span>
                <span class="fs23 code-literal">i</span>
                <span class="fs23 kept">, </span>
                <span class="fs23 code-literal">thing </span>
                <span class="fs23 kept">in </span>
                <span class="fs23 super">enumerate</span>
                <span class="fs23 code-literal">(things):</span>
            </div>


            {% br 2 %}
            <div class="basic-text mt25 pl40">
                or:
            </div>

            <div>
                <div class="monospace pl40 mt20">
                    my_dict = dict zip keys values
                </div>


                <div class="monospace-bg fs0 pl40 mt20">
                    <span class="fs23 code-literal">my_dict = </span>
                    <span class="fs23 super">dict</span>
                    <span class="fs23 code-literal">(</span>
                    <span class="fs23 super">zip</span>
                    <span class="fs23 code-literal">(</span>
                    <span class="fs23 code-literal">keys</span>
                    <span class="fs23 kept">, </span>
                    <span class="fs23 code-literal">values)):</span>
                </div>


            </div>
        </div>
    </div>



    {#    C O M P L E X  O P E R A T O R S#}
    {% br 7 %}
    <div class="fs30 work" id="complex_htu">
        <span class="turquoise">Complex</span>
        operators
    </div>
    {#    >D E F#}
    <div class="basic-text mt25 fs25 white mr400">
		<span class="pl40 it">
		<span class="monospace-bg">def</span>
		</span>
    </div>
    <br>
    <div class="mr400">
        <div class="basic-text mt20 fs23">
            <ul class="my-ul" id="complex_ops_ul1">
                <li>1st argument is the method's name</li>
                <li>2nd+ arguments are the method's parameters</li>
                <li class="jiw">Dotting an argument makes it the default value of the previous one</li>
                <li>A built in method sets the type of the previous argument</li>
            </ul>
        </div>
        <br>
        <div class="basic-text mt25 white fs23 pl40">
            fun stuff:
        </div>
        <div class="basic-text mt25 fs23">
            <ul class="my-ul" id="complex_ops_ul2">
                <li>'args' and 'kwargs' are translated to *args and **kwargs</li>
                <li class="jiw">If indentation is found, a 'self' is added as first parameter</li>
                <li>Magic methods are wrapped in __dunder__</li>
            </ul>
        </div>
    </div>
    {% br 2 %}
    {#    KEEP 200 BECAUSE LONG#}
    <div class="mr200">
        <div class="monospace pl40 mt20 fs23">def get_age int dob int 1900 earthyears .True args kwargs</div>

        <div class="monospace-bg fs0 pl40 mt20">
            <span class="fs23 kept">def </span>
            <span class="fs23 code-literal">get_age(dob=</span>
            <span class="fs23 int">1900</span>
            <span class="fs23 kept">, </span>
            <span class="fs23 code-literal">earthyears=</span>
            <span class="fs23 kept">True, </span>
            <span class="fs23 code-literal">*args</span>
            <span class="fs23 kept">, </span>
            <span class="fs23 code-literal">**kwargs):</span>
            <span class="fs32"><br>&emsp;&emsp;</span>

            <span class="fs23 doc bold">"""<br></span>
            <span class="fs32">&emsp;&emsp;</span>

            <span class="fs23 doc bold">:type </span>
            <span class="fs23 str">autosyntax: str<br></span>
            <span class="fs32">&emsp;&emsp;</span>

            <span class="fs23 doc bold">:rtype: </span>
            <span class="fs23 str">bool</span>
            <span class="fs32"><br>&emsp;&emsp;</span>

            <span class="fs23 doc bold">"""<br></span>
            <span class="fs32">&emsp;&emsp;</span>
            <span class="fs23 code-literal dark-grey">|</span>

        </div>


    </div>
    {% br 2 %}


    {#    >C L A S S#}
    <div class="basic-text mt25 fs25 white mr200">
		<span class="pl40 it">
		<span class="monospace-bg">class</span>
		</span>
    </div>

    <div class="basic-text mt25 fs23 mr400">
        <ul class="my-ul" id="complex_ops_ul3">
            <li>1st argument is the class's name</li>
            <li>2nd+ arguments are its super classes</li>
            <li>Typing 'init' creates an __init__ method</li>
            <li>Following 'init', insert parameters, typings and default values</li>
        </ul>
    </div>
    <br>
    <div class="basic-text mt25 white fs23 pl40">
        fun stuff:
    </div>
    <div class="basic-text mt25 fs23 mr400">
        <ul class="my-ul" id="complex_ops_ul4">
            <li>'init' arguments are automatically set as data members</li>
            <li>If any super class was typed, its __super__ is called</li>
            <li>Type multiple super classes preceding 'init' for mutiple inheritance</li>
        </ul>
    </div>

    {% br 2 %}
    {#    KEEP 200 BECAUSE LONG#}
    <div class="mr200">
        <div class="monospace pl40 mt20 fs23">class Earth Planet Starstuff init coords tuple habitable .True args</div>

        <div class="monospace-bg fs0 pl40 mt20">
            <span class="fs23 kept">class </span>
            <span class="fs23 code-literal">Earth(Planet</span>
            <span class="fs23 kept">, </span>
            <span class="fs23 code-literal">Starstuff):</span>
            <span class="fs32"><br>&emsp;&emsp;</span>

            <span class="fs23 kept">def </span>
            <span class="fs23 magic">__init__</span>
            <span class="fs23 code-literal">(</span>
            <span class="fs23 self">self</span>
            <span class="fs23 kept">, </span>
            <span class="fs23 code-literal">coords</span>
            <span class="fs23 kept">, </span>
            <span class="fs23 code-literal">habitable=</span>
            <span class="fs23 kept">True, </span>
            <span class="fs23 code-literal">*args):</span>
            <span class="fs32"><br>&emsp;&emsp;&emsp;&emsp;</span>

            <span class="fs23 doc bold">"""<br></span>
            <span class="fs32">&emsp;&emsp;&emsp;&emsp;</span>

            <span class="fs23 doc bold">:type </span>
            <span class="fs23 str">coords: tuple<br></span>
            <span class="fs32">&emsp;&emsp;&emsp;&emsp;</span>

            <span class="fs23 doc bold">"""<br></span>
            <span class="fs32">&emsp;&emsp;&emsp;&emsp;</span>

            <span class="fs23 self">self</span>
            <span class="fs23 code-literal">.coords = coords</span>
            <span class="fs32"><br>&emsp;&emsp;&emsp;&emsp;</span>

            <span class="fs23 self">self</span>
            <span class="fs23 code-literal">.habitable = habitable</span>
            <span class="fs32"><br>&emsp;&emsp;&emsp;&emsp;</span>

            <span class="fs23 super">super</span>
            <span class="fs23 code-literal">().</span>
            <span class="fs23 magic">__init__</span>
            <span class="fs23 code-literal">()</span>
            <span class="fs32"><br>&emsp;&emsp;&emsp;&emsp;</span>
            <span class="fs25 code-literal dark-grey">|</span>
        </div>


        {#        <div class="monospace-bg pl40 mt20">#}
        {#            {{ "class "|k }}#}
        {#            {{ "Earth(Planet"|cl }}#}
        {#            {{ ", "|k }}#}
        {#            {{ "Starstuff):"|cl }}#}
        {#            {{ "<br>"|cb:2 }}#}
        {##}
        {#            {{ "def "|k }}#}
        {#            {{ "__init__"|m }}#}
        {#            {{ "("|cl }}#}
        {#            {{ "self"|self }}#}
        {#            {{ ", "|k }}#}
        {#            {{ "coords"|cl }}#}
        {#            {{ ", "|k }}#}
        {#            {{ "habitable="|cl }}#}
        {#            {{ "True, "|k }}#}
        {#            {{ "*args):"|cl }}#}
        {#            {{ "<br>"|cb:4 }}#}
        {##}
        {#            {{ '"""'|doc_bold }}#}
        {#            {{ '<br>'|cb:4 }}#}
        {##}
        {#            {{ ':type '|doc_bold }}#}
        {#            {{ 'coords: tuple '|string }}#}
        {#            {{ '<br>'|cb:4 }}#}
        {##}
        {#            {{ '"""'|doc_bold }}#}
        {#            {{ '<br>'|cb:4 }}#}
        {##}
        {#            {{ "self"|self }}#}
        {#            {{ ".coords = coords"|cl }}#}
        {#            {{ "<br>"|cb:4 }}#}
        {##}
        {#            {{ "self"|self }}#}
        {#            {{ ".habitable = habitable"|cl }}#}
        {#            {{ "<br>"|cb:4 }}#}
        {##}
        {#            {{ "super"|sup }}#}
        {#            {{ "()."|cl }}#}
        {#            {{ "__init__"|m }}#}
        {#            {{ "()"|cl }}#}
        {#        </div>#}
    </div>


    <script type="module" src="{% static 'howtouse/js/htu.continue_arrow.js' %}"></script>
    <script src="{% static 'howtouse/js/htu.js' %}"></script>
{% endblock %}
