{% extends 'homepage/home.whatisit.html' %}
{% load staticfiles %}
{% block download %}
    {% load tags %}{% load filters %}
    <div id="download_content">
        {% page_title 'Download' %}
        <a class="download-link indented basic-text"
           href="{% static '/autosyntax_win_1.06.zip' %}">
            autosyntax_win_1.06 (10.52MB)</a>
        <span class="basic-text m-right-100">26/05/2018</span>
        <div class="p-top-80" id="howtouse_block">
            {% block howtouse_block %}
            {% endblock %}
        </div>
    </div>
{% endblock %}