{% extends 'homepage/home.download.html' %}
{% load staticfiles %}
{% block howtouse_block %}
    <div id="howtouse_content">
        {% load tags %}{% load filters %}
        <div class="space fs60 pt20">How to use</div>
        {% br 2 %}
        <div class="fs30 work pl40">
            <span class="turquoise">Basic</span>
            principles
        </div>
        <br>
        <div class="basic-text mt25 white fs25">There are only 4 guiding principles:</div>
        {% br 1 %}
        <div class="basic-text jiw mt25 fs23 mr300">
            <ul class="my-ul" id="principles_htu">
                <li>
                    Merely words and spaces usually does the job.<br>
                    This yields the most common and likely use-case.
                </li>
                <li>
                    An Operator must appear before the arguments
                    <div class="fs0">
                        <span class="fs23 basic-text">(e.g </span>
                        <span class="fs23 monospace-bg it">list</span>
                        <span class="fs23">, </span>
                        <span class="fs23 monospace-bg it">def</span>
                        <span class="fs23">, </span>
                        <span class="fs23 monospace-bg it">class</span>
                        <span class="fs23">&nbsp;and so on).</span>

                    </div>
                </li>
                <li>
                    An argument can be marked with a dot.<br>
                    This toggles a specific behaviour on/off.
                </li>
                <li>
                    An argument can be preceded by a built-in method.<br>
                    It is then passed to this method.
                </li>
            </ul>
        </div>


        <a href="how" class="no-decor">
            {% br 1 %}
            <div class="basic-text mt25 fs25 white">For a full guide, click here.
            </div>
        </a>
    </div>

    <div class="pt80" id="whoami_block">
        {% block whoami_block %}
        {% endblock %}
    </div>
{% endblock %}