{% extends 'homepage/home.whatisit.html' %}
{% load staticfiles %}
{% block download %}
    {% load tags %}{% load filters %}
    <div id="download_content">
        <div class="space fs60 pt20">Download</div>
        {% br 2 %}
        {#    SOURCE CODE#}
        <a class="pl40 basic-text mt25 fs25 white-hover"
           href="https://github.com/GbeTech/autosyntax/archive/master.zip">
            source code</a>
        <span id="download_file_size" class="basic-text mt25 fs23"
              style="margin-left:20px">(.zip | 53KB) 07/06/2018
		</span>
        {% br 2 %}
        {#    GITHUB REPO#}
        <a class="pl40 basic-text mt25 fs25 white-hover download-link underline" id="github_link">
            GitHub repo</a>
        <span id="download_file_size" class="basic-text mt25 fs23"
              style="margin-left:20px">↗ (github.com/gbetech/autosyntax)
		</span>
        {% br 2 %}
        {#    AUTOSYNTAX WIN GUI 1.06#}
        <a class="download-link pl40 basic-text mt25 white-hover fs25"
           href="{% static '/common/autosyntax_win_1.06.zip' %}">
            autosyntax win gui 1.06</a>
        <span id="download_file_size" class="basic-text mt25 fs23" style="margin-left:20px">
			(.zip | 10.52MB) 26/05/2018
{#			<span class="ml100">26/05/2018</span>#}
		</span>
        <div class="pt80" id="howtouse_block">
            {% block howtouse_block %}
            {% endblock %}
        </div>
    </div>
{% endblock %}