{% extends 'homepage/home.whatisit.html' %}
{% load staticfiles %}
{% block download %}
    {% load tags %}{% load filters %}
    <div id="download_content">
        <div class="space fs60 pt20">Download</div>
        {% br 2 %}
        <a class="download-link pl40 basic-text mt25 fs25"
           href="{% static '/common/autosyntax_win_1.06.zip' %}">
            autosyntax_win_1.06</a>
        <span class="basic-text mt25 fs23" style="margin-left:20px">(10.52MB)
			<span class="ml100">26/05/2018</span>
		</span>
        <div class="pt80" id="howtouse_block">
            {% block howtouse_block %}
            {% endblock %}
        </div>
    </div>
{% endblock %}