{% extends 'homepage/home.download.html' %}
{% load staticfiles %}
{% block howtouse_block %}
    <div id="howtouse_content">
        {% load tags %}{% load filters %}
        <div class="space fs60 p-top-20">How to use</div>
        {% br 2 %}
        <div class="fs30 work indented">
            <span class="download-link turquoise">Basic</span>
            principles
        </div>
        <br>
        {% basic_text_white 'There are only 4 guiding principles:' %}
        {% br 2 %}

        <div class="basic-text fs23 m-right-200 indented">
            >
            {{ 'Merely words and spaces usually does the job.<br>'|ind_half }}
            {{ 'This yields the most common and likely use-case.'|ind }}
            {% br 2 %}
            >
            {{ 'An Operator must appear before the arguments<br>'|ind_half }}
            <span class="indented">
						(e.g
				{{ 'list'|mono_bg_it }},
				{{ 'def'|mono_bg_it }},
				{{ 'class'|mono_bg_it }}
				and so on).
				{% br 2 %}>
			</span>
            {{ 'An argument can be marked with a dot.<br>'|ind_half }}
            {{ 'This toggles a specific behaviour on/off.'|ind }}
            {% br 2 %}
            >
            {{ 'An argument can be preceded by a built-in method.<br>'|ind_half }}
            {{ 'It is then passed to this method.'|ind }}
        </div>
        <a href="how" class="no-decor">
            <div class="basic-text white ">For a full guide, click here.
            </div>
        </a>
        {#        {% a 'For a full guide, click here.' 'how' 'no-decor' 'basic-text white' %}#}
    </div>

    <div class="p-top-80" id="whoami_block">
        {% block whoami_block %}
        {% endblock %}
    </div>
{% endblock %}