{% extends 'homepage/home.landing.html' %}
{% load staticfiles %}
{% block what_is_it %}
    {% load tags %}{% load filters %}
    <div id="whatisit_content">
        <div class="space fs60 pt20">What is it?</div>
        {% br 2 %}
        <div class="mr100 fs30 work pl40">
            <span class="download-link turquoise">autosyntax</span>
            turns simple words into python code.
        </div>
    </div>
    {% br 2 %}
    {#        L I S T  M I L K  E G G S  N U T E L L A#}
    <div class="fs25 mr400">
        <div class="basic-text mt25">For example:</div>
        <div class="monospace pl40 mt20">list milk eggs nutella</div>
        <div class="basic-text mt25">becomes</div>
        <div class="monospace-bg fs0 pl40 mt20">
            <span class="fs25 code-literal">[</span>
            <span class="fs25 str">'milk'</span>
            <span class="fs25 kept">, </span>
            <span class="fs25 str">'eggs'</span>
            <span class="fs25 kept">, </span>
            <span class="fs25 str">'nutella'</span>
            <span class="fs25 code-literal">]</span>
        </div>
        {% br 3 %}
        <div class="basic-text mt25">Similarly,</div>
        <div class="monospace pl40 mt20">dict meaning 42 happy pizza</div>

        <div class="monospace-bg fs0 pl40 mt20">
            <span class="fs25 code-literal"> {</span>
            <span class="fs25 str">'meaning'</span>
            <span class="fs25 code-literal">: </span>
            <span class="fs25 int">42</span>
            <span class="fs25 kept">, </span>
            <span class="fs25 str">'happy'</span>
            <span class="fs25 code-literal">: </span>
            <span class="fs25 str">'pizza'</span>
            <span class="fs25 code-literal">}</span>
        </div>


        {% br 7 %}
    </div>
    {#        C L A S S E S#}
    <div class="fs30 work">
        It can also do more complicated stuff,<br> like classes:
    </div>
    <br>
    <div class="fs25 mr400">
        <div class="monospace pl40 mt20">class Dog Animal init fluffy .True args</div>
        <div class="basic-text mt25">turns into ></div>


        <div class="monospace-bg fs0 pl40 mt20">
            <span class="fs25 kept">class </span>
            <span class="fs25 code-literal">Dog(Animal):</span>
            <span class="fs32"><br>&emsp;&emsp;</span>

            <span class="fs25 kept">def </span>
            <span class="fs25 magic">__init__</span>
            <span class="fs25 code-literal">(</span>
            <span class="fs25 self">self</span>
            <span class="fs25 kept">, </span>
            <span class="fs25 code-literal">fluffy=</span>
            <span class="fs25 kept">True, </span>
            <span class="fs25 code-literal">*args):</span>
            <span class="fs32"><br>&emsp;&emsp;&emsp;&emsp;</span>

            <span class="fs25 self">self</span>
            <span class="fs25 code-literal">.fluffy = fluffy</span>
            <span class="fs32"><br>&emsp;&emsp;&emsp;&emsp;</span>

            <span class="fs25 super">super</span>
            <span class="fs25 code-literal">().</span>
            <span class="fs25 magic">__init__</span>
            <span class="fs25 code-literal">()</span>
        </div>


        <br>
        <div class="basic-text mt25">How much time would it take you to type the end result?</div>
    </div>
    {% br 7 %}
    <div class="work fs30 pl40">
        It needs only
        <span class="turquoise">1</span>
        global hotkey to do everything,<br>
        but it's also flexible.
    </div>
    <br>
    <div class="fs25 mr400">
        <div class="basic-text mt25">
            <span class="white">Variables.</span>
            <br>
            Given:
        </div>
        {# {% basic_text 'Variables.'|white '<br>Given:' %}#}
        <div class="monospace-bg pl40 mt20">
            <span class="code-literal">wish = </span>
            <span class="str">'done'</span>
        </div>
        {# V A R I A B L E S#}
        <div class="basic-text mt25">then</div>
        <div class="monospace pl40 mt20">i_wish = str I got more things .wish</div>

        <div class="monospace-bg fs0 pl40 mt20">
            <span class="fs25 code-literal">i_wish = </span>
            <span class="fs25 str">f'I got more things {</span>
            <span class="fs25 code-literal">wish</span>
            <span class="fs25 str">}'</span>
        </div>


        <div class="basic-text mt25">
            thanks to the
            <span class="monospace-bg mt20 it turquoise">.</span>
            preceding "wish".<br>
            Did you like that f-string?
            <span class="download-link turquoise">autosyntax</span>
            does that only when needed.
        </div>
        {% br 3 %}


        {# I N L I N E M E T H O D S#}
        <div class="basic-text mt25 white">Inline methods:</div>
        <div class="monospace pl40 mt20">for range len factories</div>

        <div class="monospace-bg fs0 pl40 mt20">
            <span class="fs25 kept">for </span>
            <span class="fs25 code-literal">factory </span>
            <span class="fs25 kept">in </span>
            <span class="fs25 super">range</span>
            <span class="fs25 code-literal">(</span>
            <span class="fs25 super">len</span>
            <span class="fs25 code-literal">(factories)):</span>
        </div>
        {% br 3 %}(
        {# L I S T C O M P R E H E N S I O N S#}
        <div class="basic-text mt25 white">List comprehensions:</div>
        <div class="monospace pl40 mt20">listcomp print letters</div>

        <div class="monospace-bg fs0 pl40 mt20">
            <span class="fs25 code-literal">[</span>
            <span class="fs25 super">print</span>
            <span class="fs25 code-literal">(letter) </span>
            <span class="fs25 kept">for </span>
            <span class="fs25 code-literal">letter </span>
            <span class="fs25 kept">in </span>
            <span class="fs25 code-literal">letters]</span>
        </div>


        {% br 3 %}
        <div class="basic-text mt25 white">Methods, with optionally typed arguments:</div>
        <div class="monospace pl40 mt20">def is_easy bool autosyntax str kwargs</div>

        <div class="monospace-bg fs0 pl40 mt20">
            <span class="fs25 kept">def </span>
            <span class="fs25 code-literal">is_easy(autosyntax</span>
            <span class="fs25 kept">, </span>
            <span class="fs25 code-literal">**kwargs):<br></span>
            <span class="fs32">&emsp;&emsp;</span>

            <span class="fs25 doc bold">"""<br></span>
            <span class="fs32">&emsp;&emsp;</span>

            <span class="fs25 doc bold">:type </span>
            <span class="fs25 str">autosyntax: str<br></span>
            <span class="fs32">&emsp;&emsp;</span>

            <span class="fs25 doc bold">:rtype: </span>
            <span class="fs25 str">bool</span>
            <span class="fs32"><br>&emsp;&emsp;</span>

            <span class="fs25 doc bold">"""<br></span>
            <span class="fs32">&emsp;&emsp;</span>
            <span class="fs25 code-literal dark-grey">|</span>

        </div>


        {% br 2 %}
        <div class="basic-text mt25 white">And more, built with those little details in mind.</div>
        <div class="basic-text mt25 download-link white">Download
            <span class="turquoise">autosyntax.</span>
        </div>
    </div>
    <div id="download_block">
        {% block download %}
        {% endblock %}
    </div>
    <a class="easter-egg"
       href="/homepage/templates/homepage/_talia.html">
        easter egg :)</a>

{% endblock %}