{% extends 'homepage/layout.html' %}
{% load static %}
{% load tags %}{% load filters %}
{% block content %}
    <div id="howtouse_full_content">
        {% page_title 'How to use' %}
        {% work_indented 'Operators'|turq 'overview' id='operators_htu' %}
        <br>
        {% basic_text '"Operators" tell autosyntax which type of code to generate.'|white %}
        {% br 1 %}
        <div class="basic-text f-size-23 m-right-200 indented">
            >
            {{ 'Operators are almost always built-in elements<br>'|ind_half }}
            {{ 'from the python standard library, so that no learning is needed.'|ind }}
            {% br 2 %}
            >
            {{ 'In a given line, the Operator is the first argument.'|ind_half }}
            {% br 2 %}
            >
            {{ 'Currently available Operators:<br>'|ind_half }}
            <span class="indented">
			{% for operator in operators %}
                <span id="operator_{{ forloop.counter }}">
						{% ifequal operator 'print' %}
                            {{ operator|mono_bg_it }}.
                        {% else %}
                            {{ operator|mono_bg_it }},
                        {% endifequal %}
				</span>
            {% endfor %}
			</span>
        </div>
        {% br 7 %}
        {#        D O T T E D  A R G U M E N T S#}
        {% work '.Dotted'|turq 'arguments' id='dotted_htu' %}
        {% basic_text 'Mark an argument with a dot to toggle a less common use-case.'|white %}
        <br>
        {% basic_text_dim 'With basic operators, no dot makes a string;<br>"Dotting" an argument denotes a variable.' %}

        <div class="animation">
            <div id="animation_1">
                {% mono_mright_300 'list milk nutella' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft150 %}
                {% list_block 'milk' 'nutella' %}
            </div>
            <div id="animation_2" class="disp-none">
                {% mono_mright_300 'list milk .nutella' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft136 %}
                {% list_block 'milk' 'nutella'|cl %}
            </div>
        </div>
    </div>
    <br>
    {#    D O T S T R  O P S#}
    <div class="basic-text f-size-23 m-right-200 indented">
        The operators which follow this rule are:<br>
        {% for operator in dotstr_ops %}
            <span id="operator_{{ forloop.counter }}">
						{% ifequal operator 'print' %}
                            {{ operator|mono_bg_it }}.
                        {% else %}
                            {{ operator|mono_bg_it }},
                        {% endifequal %}
				</span>
        {% endfor %}
    </div>
    {% br 3 %}
    {% basic_white_mright200 'In other cases, using a variable is much more likely than a string.' %}
    {#    W I T H  O T H E R  O P E R A T O R S#}
    <br>
    {% basic_text_dim 'These cases are reversed; a dot makes a string.' %}
    {#    F O R  C H A R A C T E R S (anim 3-4)#}
    <div class="animation">
        <div id="animation_3">
            {% mono_mright_300 'for .characters' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft136 %}
            <div class="code-block">
                {{ 'for '|k }} {{ 'character '|cl }}
                {{ 'in '|k }}{{ "'characters'"|string }}{{ ':'|cl }}
            </div>
        </div>
        <div id="animation_4" class="disp-none">
            {% mono_mright_300 'for characters' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft150 %}
            <div class="code-block">
                {{ 'for '|k }} {{ 'character '|cl }} {{ 'in '|k }}{{ 'characters:'|cl }}
            </div>
        </div>
    </div>
    <br>
    {#    D O T V A R  O P S#}
    <div class="basic-text f-size-23 m-right-200 indented">
        The operators which follow this rule are:<br>
        {% for operator in dotvar_ops %}
            <span id="operator_{{ forloop.counter }}">
						{% ifequal operator 'listcomp' %}
                            {{ operator|mono_bg_it }}.
                        {% else %}
                            {{ operator|mono_bg_it }},
                        {% endifequal %}
				</span>
        {% endfor %}
    </div>
    {% br 2 %}
    <div class="basic-text m-right-200">
        {{ '*'|turq }}
        Note: Globally, any argument passed to an inline method follows this logic too,
        regardless of Operator.<br> We mostly pass variables to methods, after all.
    </div>
    <div class="animation">
        <div id="animation_9">
            {% mono_mright_300 'list milk any nutella' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft95 %}
            {% list_block 'milk' 'any(nutella)'|cl %}
        </div>
        <div id="animation_10" class="disp-none">
            {% mono_mright_300 'list milk nutella' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft150 %}
            {% list_block 'milk' 'nutella' %}
        </div>

    </div>
    <div class="basic-text m-right-200">
        See Inline methods below for more.
    </div>
    {% br 3 %}
    {#    D E F  A N D  C L A S S  O P E R A T O R S#}
    <div class="basic-text white m-right-200">
        With {{ 'def'|mono_bg_it }} and {{ 'class'|mono_bg_it }}
        Operators, dotting makes the argument the default value
        of the preceding argument.
    </div>
    <br>

    {#    D E F  F O O (anim 5-6)#}
    {% basic_text_dim 'Any non-dotted argument will just create an additional parameter.' %}

    <div class="animation">
        <div id="animation_5">
            {% mono_mright_300 'def foo name .john' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft136 %}
            <div class="code-block">
                {{ "def "|k }}
                {{ "foo(name="|cl }}
                {{ "'john'"|string }}
                {{ "):"|cl }}
            </div>
        </div>
        <div id="animation_6" class="disp-none">
            {% mono_mright_300 'def foo name john' 'PRESS TO TOGGLE EXAMPLE'|op7_mleft150 %}
            <div class="code-block">
                {{ "def "|k }}
                {{ "foo(name"|cl }}
                {{ ", "|k }}
                {{ "john):"|cl }}
            </div>
        </div>
    </div>
    {% br 3 %}
    {#    N O T E  N U M B E R#}
    <div class="basic-text m-right-200">
        {{ '*'|turq }}
        Note: Globally, a number is left as is by default.<br>
        {% mono_mright_300 'dict when_im 64' %}
        {% dict_block 'when_im' '64'|n %}
    </div>
    {% br 7 %}
    {#    I N L I N E  M E T H O D S#}
    {% work 'Inline' 'methods()'|turq id='inline_htu' %}
    {% basic_white_mright200 'Type a built-in method before an argument to apply it.' %}
    <br>
    {% basic_text_dim 'This is useful in cases like:' %}
    {% mono_mright_300 'for enumerate things' %}
    <div class="code-block">
        {{ 'for '|k }} {{ 'i'|cl }}{{ ', '|k }}
        {{ 'thing '|cl }}{{ 'in '|k }}{{ 'enumerate'|sup }}
        {{ "(things):"|cl }}
    </div>

    {% br 2 %}

    {% basic_text_dim 'Or:' %}
    {% mono_mright_300 'my_dict = dict zip keys values' %}
    <div class="code-block">
        {{ 'my_dict = '|cl }} {{ 'dict'|sup }}{{ '('|cl }}
        {{ 'zip'|sup }}{{ '(keys'|cl }}{{ ', '|k }}
        {{ "values)):"|cl }}
    </div>

    {% br 7 %}

    {#    C O M P L E X  O P E R A T O R S#}
    {% work 'Complex'|turq 'operators' id='complex_htu' %}
    {#    {% basic_white_mright200 'class'|mono_bg_it 'and ' 'def'|mono_bg_it ' are "complex" because they consist of multiple lines.' ind='ind' %}#}
    {% basic_white_mright200 'def'|mono_bg_it %}
    <br>
    <div class="basic-text f-size-23 m-right-200 indented">
        >
        {{ "1st argument is the method's name"|ind_half }}
        {% br 2 %}
        >
        {{ "2nd+ arguments are the method's parameters"|ind_half }}
        {% br 2 %}
        >
        {{ "Dotting an argument makes it the default value of the previous one"|ind_half }}
        {% br 2 %}
        >
        {{ "A built in method sets the type of the previous argument"|ind_half }}
    </div>
    {% basic_text_dim 'fun automatic stuff:'|white %}

    <div class="basic-text f-size-23 m-right-200 indented">
        >
        {{ "'args' and 'kwargs' are translated to *args and **kwargs"|ind_half }}
        {% br 2 %}
        >
        {{ "If indentation is found, a 'self' is added as first paramter"|ind_half }}
        {% br 2 %}
        >
        {{ "Magic methods are wrapped in __dunder__"|ind_half }}
        {% br 2 %}
    </div>
    {% mono_mright_300 'def get_age int dob int 1900 earthyears True args kwargs' %}
    <div class="code-block">
        {{ 'def '|k }}
        {{ 'get_age(dob='|cl }}
        {{ '1900'|n }}
        {{ ', '|k }}
        {{ 'earthyears='|cl }}
        {{ 'True, '|k }}
        {{ '*args'|cl }}
        {{ ', '|k }}
        {{ '**kwargs):'|cl }}
        {{ '<br>'|cb:1 }}

        {{ '"""'|doc_bold }}
        {{ '<br>'|cb:1 }}

        {{ ':type '|doc_bold }}
        {{ 'dob: int '|string }}
        {{ '<br>'|cb:1 }}

        {{ ':rtype: '|doc_bold }}
        {{ 'int'|string }}
        {{ '<br>'|cb:1 }}

        {{ '"""'|doc_bold }}
        {{ '<br>'|cb:1 }}
        {{ '|'|span:'code-literal dark-grey' }}

    </div>

    {% br 2 %}

    {% basic_text_dim 'Or:' %}
    {% mono_mright_300 'my_dict = dict zip keys values' %}
    <div class="code-block">
        {{ 'my_dict = '|cl }} {{ 'dict'|sup }}{{ '('|cl }}
        {{ 'zip'|sup }}{{ '(keys'|cl }}{{ ', '|k }}
        {{ "values)):"|cl }}
    </div>

    {#    <script src="{% static 'homepage/js/utils.js' %}"></script>#}
    <script type="module" src="{% static 'homepage/js/continue_arrow_howtouse.js' %}"></script>
    <script src="{% static 'homepage/js/howtouse_page.js' %}"></script>
{% endblock %}
