{% extends 'homepage/download.html' %}
{% load staticfiles %}
{% block howtouse_block %}
    <div id="howtouse_content">
        {% load tags %}{% load filters %}
        {% page_title 'How to use' %}
        {% work_indented 'Basic'|turq 'principles' %}
        <br>
        {% basic_text_white 'There are only 4 guiding principles:' %}
        {% br 2 %}

        <div class="basic-text f-size-23 m-right-200 indented">
            >
            {{ 'Merely words and spaces usually does the job.<br>'|ind_half }}
            {{ 'This yields the most common and likely use-case.'|ind }}
            {% br 2 %}
            >
            {{ 'An Operator must appear before the arguments<br>'|ind_half }}
            <span class="indented">
						(e.g
				{{ 'list'|mono_bg_it }},
				{{ 'def'|mono_bg_it }},
				{{ 'class'|mono_bg_it }}
				and so on).
				{% br 2 %}>
			</span>
            {{ 'An argument can be marked with a dot.<br>'|ind_half }}
            {{ 'This toggles a specific behaviour on/off.'|ind }}
            {% br 2 %}
            >
            {{ 'An argument can be preceded by a built-in method.<br>'|ind_half }}
            {{ 'It is then passed to this method.'|ind }}
        </div>
        {% a 'For a full guide, click here.' 'how' 'no-decor' 'basic-text white' %}
        <br>
    </div>

    <div id="whoami_block">
        {% block whoami_block %}
        {% endblock %}
    </div>
{% endblock %}