{% extends 'homepage/layout.html' %}
{% block landing %}
    <div class="space">
        <div class="title">
            Hi! My name is Gilad.<br>
            I love to code FAST.<br><br>
            This is why I created<br>
        </div>
        <div class="italic turquoise">autosyntax.</div>
        <br>
    </div>
    <div class="work">It's completely free and I know you'll like it.</div>

    <div
            {#            style="opacity: 0"#}
            id="whatisit_block">
        {% block what_is_it %}
        {% endblock %}
    </div>

{% endblock %}<br>
