{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="height=device-height, initial-scale=1">
<title>autosyntax</title>
<link rel="shortcut icon" href="{% static 'favicon_terminal_29ffdb_2.png' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'homepage/css/style.css' %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static 'homepage/css/proportions.css' %}"/>
<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
<script src="{% static 'homepage/js/utils.js' %}"></script>
<script src="{% static 'homepage/js/continue_arrow_utils.js' %}"></script>
<div id="all" class="no-select op-0">
    <div class="grid-container">
        {# C O N S O L E  M E N U#}
        <div class="grid-item grid_0">
            <img src="{% static '/homepage/img/console_menu_trans.svg' %}"
                 height="30px"
                 width="30px"
                 id="console_menu"
                 class="console-menu"
            />
            {# S I D E B A R#}
            <div class="space-font sidebar" id="sidebar">
                {% for item in sidebar_items %}
                    <div class="sidebar-item"
                         id="sidebar_item_{{ forloop.counter }}">
                        {{ item }}
                    </div><br><br>
                {% endfor %}
            </div>
            {#        B A C K#}
            <a href="/">
                <svg id="back" class="back op-07" style="display:none">
                    <text x="0" y="20" fill="white">HOME</text>
                </svg>
            </a>
        </div>
        {#        end grid-0#}

        {#    C O N T I N U E  A R R O W#}
        <div id="continue_arrow_lbl" class="continue-arrow-lbl"></div>
        <img src="{% static '/homepage/img/continue_new_trans.svg' %}"
             height="80px"
             width="80px"
             id="continue_arrow"
             class="continue-arrow"
        />

        {#G O  U P#}
        <svg id="go_up" class="go-up">
            <text x="0" y="20" fill="white">TOP</text>
        </svg>


        <div class="grid-item grid_1">
            <div class="pad-body" id="pad_body">
                {# B L O C K  C O N T E N T#}
                {% block content %}
                {% endblock %}
                {# E N D  B L O C K  C O N T E N T#}
            </div>
            {#    end pad-body#}
        </div>
        {# end grid_1#}


    </div>
    {#    end grid container#}
	
</div>
{#end all#}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="{% static 'homepage/js/responsiveness_mgr.js' %}"></script>
<script src="{% static 'homepage/js/layout.js' %}"></script>
{#<script>console.log('$("console_menu"): ', $("console_menu"));</script>#}
