{% load staticfiles %}
<html>
<head>

    <link rel="stylesheet" type="text/css"
          href="{% static 'homepage/css/style.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'homepage/css/proportions.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>
<div class="all"
     style="background-image: url('{% static 'homepage/img/hp_bg.jpg' %}');
             background-position: center;
             background-repeat: no-repeat;
             background-size: cover;
             ">
    <div class="space p-top-20">
        You've reached the secret Talia's Hebrew Progress page!<br>
    </div>
    <br>
    <br>
    <br>
    <div class="work">If you got so far, you must have endured grand perils, as worthy of a true adventurer.
        <br>
        <br>
                      The rules are simple:
        <br>
    </div>
    <div class="basic-text">
        There are going to be "stats" that reflect your progress, via simple parameters.<br>
        They will be updated after each conversation we have, and if you feel like adding stuff here yourself,
        just email me and i'll put it. It literally takes me less time than making a coffee, so feel free.
        It's going to be fun!
    </div>
    <br><br>
    <div class="work" style="font-weight: bold">
        As of 19/05/2018
    </div>
    <br>
    <div class="basic-text">
        Hours spent in Hebrew conversation with a native speaker: 582<br><br>
        Hebrew words exposed to: 247<br><br>
        Cool words/idioms: <br>
        <div style="padding-left:30px">
            Considering the time I spent... בהתחשב בזמן שהשקעתי<br>
            can I get the bill - אפשר חשבון?<br>
            חשבונית = receipt<br>
            taking into account = לקחת בחשבון<br>
            ‏אתה צריך לדבר איתי כאילו אני ילדה צעירה, because if "as if" fits than it's כאילו<br>
            exprience = נסיון<br>
            estimation = הערכה<br>
            appreciation = הערכה<br>

        </div>
    </div>
    <br><br>
</div>
</html>