{% extends 'homepage/landing.html' %}
{% load staticfiles %}
{% block what_is_it %}
    <div id="what_is_it_content">
        <div class="space p-top-20">
            What is it?<br>
        </div>
        <br>

        <div class="work indented">
            <span class="turquoise">autosyntax</span>
            turns simple words into python code.
        </div>


        <br>
        <br>
        <div class="space-font sub-title">For example:</div>
        <div class="monospace">list milk eggs nutella</div>
        <div class="space-font sub-title">becomes ></div>
        <div class="code-block">
            <span class="code-literal">[</span>
            <span class="str">'milk'</span>
            <span class="kept">,&nbsp;</span>
            <span class="str">'eggs'</span>
            <span class="kept">,&nbsp;</span>
            <span class="str">'nutella'</span>
            <span class="code-literal">            ]</span>
        </div>
        <br>
        <br>
        <br>
        <div class="space-font sub-title">similarily,</div>
        <div class="monospace">dict meaning 42 happy pizza</div>
        <div class="space-font sub-title">becomes ></div>
        <div class="code-block">
            <span class="code-literal"> {</span>
            <span class="str">'meaning'</span>
            <span class="code-literal">: </span>
            <span class="int">42</span>
            <span class="kept">, </span>
            <span class="str">'happiness'</span>
            <span class="code-literal">: </span>
            <span class="str">'pizza'</span>
            <span class="code-literal">}</span>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="work">
            It can also do more complicated stuff,<br> like handling classes:
        </div>
        <br>
        <div class="monospace">class Dog Animal init fluffy True</div>
        <div class="space-font sub-title">turns into ></div>


        <div class="code-block">
            <span class="kept">class</span>
            <span class="code-literal">&nbsp;Dog(Animal):</span>
            <span class="code-break">
							<br>&emsp;&emsp;
						</span>

            <span class="kept">def</span>
            <span class="magic">&nbsp;__init__</span>
            <span class="code-literal">&nbsp;(</span>
            <span class="self">self</span>
            <span class="kept">,</span>
            <span class="code-literal">&nbsp;fluffy=</span>
            <span class="kept">True</span>
            <span class="code-literal">):</span>
            <span class="code-break">
							<br>&emsp;&emsp;&emsp;&emsp;
							</span>

            <span class="self">self</span>
            <span class="code-literal">.fluffy = fluffy</span>
            <span class="code-break">
				<br>&emsp;&emsp;&emsp;&emsp;
			</span>

            <span class="super">super</span>
            <span class="code-literal">().</span>
            <span class="magic">__init__</span>
            <span class="code-literal">()</span>
        </div>
    </div>
    <br>
    <div class="space-font sub-title">check out the inheritance, the
        <span class="monospace-bg italic">__init__</span> declaration and arguments,
        the automatic
        <span class="monospace-bg italic">self.fluffy</span> datamember creation,
        <span class="monospace-bg italic">super()</span>
        etc.
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="work indented">
        it needs only
        <span class="turquoise">1</span>
        global hotkey to do everything,<br>
        but it's also flexible.
    </div>
    <br>
    <div class="space-font sub-title">
        <span class="white">Variables.</span>
        <br>Given:
    </div>
    <div class="code-block">
        <span class="code-literal">buzz = </span>
        <span class="str">'lightyear'</span>
    </div>
    <div class="space-font sub-title">then</div>
    <div class="monospace f-size-0"
    >
        <span class="code-literal">words = tuple foo bar </span>
        <span class="code-literal" style="color: #29ffdb">.</span>
        <span class="code-literal">buzz</span>
    </div>
    <div class="space-font sub-title">will generate ></div>

    <div class="code-block">
        <span class="code-literal">words = (</span>
        <span class="str">'foo'</span>
        <span class="kept">, </span>
        <span class="str">'bar'</span>
        <span class="kept">, </span>
        <span class="code-literal">buzz)</span>
    </div>
    <div class="space-font sub-title">thanks to the
        <span class="monospace-bg italic">.</span>
        preceding "buzz".
    </div>
    <br><br><br>


    <div class="space-font sub-title">
        <span class="white">Inline methods:</span>
    </div>
    <div class="monospace">for range numbers</div>
    <div class="space-font sub-title">becomes ></div>

    <div class="code-block">
        <span class="kept">for </span>
        <span class="code-literal">number </span>
        <span class="kept">in </span>
        <span class="super">range </span>
        <span class="code-literal">(numbers):</span>
        <span class="code-break">
			<br>&emsp;</span>
        <span class="code-literal dark-grey">|</span>
    </div>
    <a class="easter-egg"
       href="/homepage/templates/homepage/talia.html">
        you found me!</a>

{% endblock %}