{% extends 'homepage/landing.html' %}
{% load staticfiles %}
{% block what_is_it %}
    <div id="what_is_it_content">
        <div class="space title">
            What is it?<br>
        </div>
        <br>

        <div style="padding-left: 40px" class="work">
            <span class="turquoise">autosyntax</span>
            turns simple words into to code.
        </div>
        <div class="space-font sub-title">For example:</div>
        <div class="monospace">list milk eggs coffee nutella</div>
        <div class="space-font sub-title">becomes ></div>
        <img class="code-ex-1-line"
             src="{% static '/homepage/img/code_ex/list milk eggs coffee nutella_orig.png' %}"
        />
        <br>
        <br>
        <br>
        <div class="space-font sub-title">similarily,</div>
        <div class="monospace">dict meaning 42 happy pizza</div>
        <div class="space-font sub-title">></div>
        {#        <div class="monospace">{'meaning': 42, 'happy', 'pizza'}</div>#}
        <img class="code-ex-1-line"
             src="{% static '/homepage/img/code_ex/dict_orig.png' %}"
        />
        <br>
        <br>
        <br>
        <div class="space-font sub-title">autosyntax can also do more complicated stuff, like:</div>


        <div class="monospace">class Dog Animal init fluffy True</div>
        <div class="space-font sub-title">></div>

        <img class="code-ex-3-line"
             src="{% static '/homepage/img/code_ex/class.png' %}"
        />
        <br>
        <div class="space-font sub-title">check out the inheritance, the default
            <span class="monospace-bg" style="font-style: italic">fluffy</span>
            value, the automatic
            <span class="monospace-bg" style="font-style: italic">self</span>,
            <span class="monospace-bg" style="font-style: italic">super()</span>
            etc.
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="work">
            it needs only
            <span class="turquoise">1</span>
            global hotkey to do everything,<br>
            but it's also flexible.
        </div>
        <div class="space-font sub-title">Variables:</div>
        <div class="monospace">some_words = tuple foo bar .baz</div>
        <div class="space-font sub-title">></div>
        <img
                class="code-ex-3-line"
                style="max-height: 65px"
                src="{% static '/homepage/img/code_ex/tuple_variables.png' %}"
        />
        <br><br><br>
        <div class="space-font sub-title">Cool use of inline methods:</div>
        <div class="monospace">for len range numbers</div>
        <div class="space-font sub-title">></div>
        <img
                class="code-ex-1-line"
                src="{% static '/homepage/img/code_ex/for.png' %}"
        />

    </div>
{% endblock %}