{% extends 'homepage/landing.html' %}
{% load staticfiles %}
{% block what_is_it %}
    {% load tags %}{% load filters %}
    <div id="whatisit_content">
        {% page_title "What is it?" %}
        {% work_indented "autosyntax"|dl_turq "turns simple words into python code." %}
    </div>
    {% br 2 %}
    {#        L I S T  M I L K  E G G S  N U T E L L A#}
    {% basic_text "For example:" %}
    {% mono_mright_300 "list milk eggs nutella" %}
    {% basic_text "becomes >" %}
    {% list_block 'milk' 'eggs' 'nutella' %}
    {% br 3 %}
    {% basic_text "similarly," %}
    {% mono_mright_300 "dict meaning 42 happy pizza" %}
    {% dict_block 'meaning' '42'|n 'happy' 'pizza' %}
    {% br 7 %}
    {#        C L A S S E S#}
    {% work "It can also do more complicated stuff,<br> like classes:" %}
    <br>
    {% mono_mright_300 "class Dog Animal init fluffy .True args" %}
    {% basic_text "turns into >" %}
    <div class="code-block">
        {{ "class "|k }}
        {{ "Dog(Animal):"|cl }}
        {{ "<br>"|cb:2 }}

        {{ "def "|k }}
        {{ "__init__"|m }}
        {{ "("|cl }}
        {{ "self"|self }}
        {{ ", "|k }}
        {{ "fluffy="|cl }}
        {{ "True, "|k }}
        {{ "*args):"|cl }}
        {{ "<br>"|cb:4 }}

        {{ "self"|self }}
        {{ ".fluffy = fluffy"|cl }}
        {{ "<br>"|cb:4 }}

        {{ "super"|sup }}
        {{ "()."|cl }}
        {{ "__init__"|m }}
        {{ "()"|cl }}
    </div>

    <br>
    {% basic_text 'How much time would it take you to type the end result?' %}
    {% br 7 %}
    {% work_indented 'It needs only' '1'|turq " global hotkey to do everything,<br>but it's also flexible." %}
    <br>
    {% basic_text 'Variables.'|white '<br>Given:' %}
    <div class="code-block">
        {{ 'wish = '|cl }}
        {{ "'done'"|string }}
    </div>
    {#    V A R I A B L E S#}
    {% basic_text 'then' %}
    {% mono_mright_300 'i_wish = str I got more things .wish' %}

    <div class="code-block">
        {{ 'i_wish = '|cl }}
        {{ "f'I got more things {"|string }}
        {{ 'wish'|cl }}
        {{ "}'"|string }}
    </div>
    {% basic_text 'thanks to the ' '.'|mono_bg_it ' preceding "wish".<br>Did you like that f-string? ' 'autosyntax'|dl_turq ' does that only when needed.' %}
    {% br 3 %}

    {#        I N L I N E  M E T H O D S#}
    {% basic_text_white 'Inline methods:' %}
    {% mono_mright_300 'for range len factories' %}

    <div class="code-block">
        {{ 'for '|k }}
        {{ 'factory '|cl }}
        {{ 'in '|k }}
        {{ 'range'|sup }}
        {{ '('|cl }}
        {{ 'len'|sup }}
        {{ '(factories)):'|cl }}
    </div>
    {% br 3 %}
    {#        L I S T  C O M P R E H E N S I O N S#}
    {% basic_text_white 'List comprehensions:' %}
    {% mono_mright_300 'listcomp print letters' %}

    <div class="code-block">
        {{ '['|cl }}
        {{ 'print'|sup }}
        {{ '(letter) '|cl }}
        {{ 'for '|k }}
        {{ 'letter '|cl }}
        {{ 'in '|k }}
        {{ 'letters]'|cl }}
    </div>
    {% br 3 %}
    {% basic_text_white 'Methods with typing:' %}
    {% mono_mright_300 'def is_easy bool autosyntax str kwargs' %}

    <div class="code-block">
        {{ 'def '|k }}
        {{ 'is_easy(autosyntax'|cl }}
        {{ ', '|k }}
        {{ '**kwargs):'|cl }}
        {{ '<br>'|cb:2 }}

        {{ '"""'|doc_bold }}
        {{ '<br>'|cb:2 }}

        {{ ':type '|doc_bold }}
        {{ 'autosyntax: str '|string }}
        {{ '<br>'|cb:2 }}

        {{ ':rtype: '|doc_bold }}
        {{ 'bool'|string }}
        {{ '<br>'|cb:2 }}

        {{ '"""'|doc_bold }}
        {{ '<br>'|cb:2 }}
        {{ '|'|span:'code-literal dark-grey' }}

    </div>

    {% br 2 %}
    {% basic_text_white 'And more, built with those little details in mind.<br>' %}
    {% div 'Download' 'autosyntax.'|turq cls='basic-text download-link white' %}

    <div id="download_block">
        {% block download %}
        {% endblock %}
    </div>
    <a class="easter-egg"
       href="/homepage/templates/homepage/talia.html">
        easter egg :)</a>

{% endblock %}