{% extends 'homepage/howtouse.html' %}
{% load staticfiles %}
{% block whoami_block %}
    {% load tags %}{% load filters %}
    <div id="whoami_content">

        {% page_title 'Who am I?' %}
        {% basic_white_mright200 'My name is Gilad Barnea. Two years ago I turned from a career as a concert pianist to software development.'|ind %}
        {% basic_text "This turned out to be a very good decision; I love code, and I love making other people's lives easier with code." %}
        {% a 'For my full CV, click here.' 'cv' 'no-decor' 'basic-text white' %}

        <br>
        {#        {% basic_text 'basic_text' %}#}

        <div id="future_block">
            {% block future_block %}
            {% endblock %}
        </div>
    </div>
{% endblock %}