{% extends 'homepage/howtouse.html' %}
{% load staticfiles %}
{% block whoami_block %}
    {% load tags %}{% load filters %}
    <div id="whoami_content">

        {% page_title 'Who am I?' %}
        {% work_indented "some"|dl_turq "title" %}
        {% a 'For my full CV, click here.' 'cv' 'no-decor' 'basic-text white' %}

        <br>
        <div class="basic-text f-size-23 m-right-200 indented">
            basic text f-size-23
        </div>

        <div id="future_block">
            {% block future_block %}
            {% endblock %}
        </div>
    </div>
{% endblock %}