{% extends 'homepage/howtouse.html' %}
{% load staticfiles %}
{% block whoami_block %}
    {% load tags %}{% load filters %}
    <div id="whoami_content">

        {% page_title 'Who am I?' %}
        {% work_indented "some"|dl_turq "title" %}
        {% a 'For my full CV, click here.' 'cv' 'no-decor' 'basic-text white' %}

        <br>
        {% basic_text_ind 'basic_text_ind' %}
        {% basic_text 'basic_text' %}

        <div id="future_block">
            {% block future_block %}
            {% endblock %}
        </div>
    </div>
{% endblock %}