
body {
    margin: 50px 60px 60px;
}

.code-block,
.fs0 {
    font-size: 0;
}

.fs10 {
    font-size: 10px
}

.fs15 {
    font-size: 15px
}

.fs23 {
    font-size: 23px;
}

.fs25 {
    font-size: 25px;
}

.fs30 {
    font-size: 30px;
}

.fs35 {
    font-size: 35px
}

.fs40 {
    font-size: 40px
}

.fs60 {
    font-size: 60px;
}

/*font-size: 25px*/
.go-up,
.code-literal,
.str,
.int,
.kept,
.magic,
.self,
.super,
.doc,
.back,
.work-25 {
    font-size: 25px;
}

.ml100 {
    margin-left: 100px;
}

.ml150 {
    margin-left: 150px;
}

.ml136 {
    margin-left: 136px;
}

.ml95 {
    margin-left: 95px;
}

/*#continue_arrow {*/
/*padding-left: 50px;*/
/*padding-right: 50px;*/
/*}*/

/*padding-top: 20px*/
.pt20 {
    padding-top: 20px;
}

.pt25 {
    padding-top: 25px;
}

/*padding-top: 40px*/
.pt40 {
    padding-top: 40px;
}

/*padding-top: 60px*/
.pt60 {
    padding-top: 60px;
}

/*padding-top: 80px*/
.pt80 {
    padding-top: 80px;
}

/*padding-top: 100px*/
.pt100 {
    padding-top: 100px;
}

.mr400 {
    margin-right: 400px;
}

.mr300 {
    margin-right: 300px;
}

.mr200 {
    margin-right: 200px;
}

.mr100 {
    margin-right: 100px;
}

.basic-text {
    margin-top: 25px;
}

.monospace,
.code-block {
    margin-top: 20px;
}

.pl20 {
    padding-left: 20px;
}

.pl30 {
    padding-left: 30px;
}

.monospace,
.code-block,
.pl40 {
    padding-left: 40px;
}

.pl65 {
    padding-left: 65px;
}

.code-break {
    font-size: 32px;
}

.go-up,
.back {
    bottom: 5%;
    width: 100px;
}

.go-up {
    left: 90%;
}

.back {
    left: 7%
}

.sidebar {
    padding-left: 20px;
    padding-top: 70px;
}

.sidebar-item {
    font-size: 20px;
}

.sidebar-item {
    margin-bottom: 10px;
}

/*.sidebar-item:hover {*/
/*font-size: 24px;*/
/*}*/

.continue-arrow-lbl,
.continue-arrow {
    bottom: 5%;
}

.continue-arrow-lbl {
    left: 48.6%;
    height: 90px;
    opacity: 0;
    font-size: 20px;
    width: 250px;

}

.center {

}

.my-ul {
    padding-left: 2.5em
}

.continue-arrow {
    height: 60px;
    left: 50%;
    width: 60px;
}

/*#continue_arrow:hover {*/
/*height: 63px;*/
/*left: 49.8%;*/
/*width: 63px;*/
/*}*/

.easter-egg {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 15%;
    left: 90%;
    width: 70px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1s;
    background-color: #111111;
    color: white;
    border-color: white;
    font-size: 20px;
}

.easter-egg:hover {
    opacity: 0.5;
}




