
body {
    margin: 50px 60px 60px;
}

.code-line {
    padding-top: 100px;
    margin-top: 100px;
}

/*font-size: 25px*/
.sub-title,
.monospace,
.go-up,
.code-literal,
.str,
.int,
.kept,
.magic,
.self,
.super {
    font-size: 25px;
}

/*padding-top: 20px*/
.title {
    padding-top: 20px;
}

/*margin-right: 300px*/
.sub-title,
.monospace,
.code-block {
    margin-right: 300px;
}

.code-block {
    font-size: 0;
}

.sub-title {
    margin-top: 25px;

}

.monospace,
.code-block {
    margin-top: 20px;
    padding-left: 40px;
}

.code-break {
    font-size: 32px;
}

.go-up {
    bottom: 5%;
    left: 90%;
    width: 50px;
}

.sidebar {
    padding-left: 20px;
    padding-top: 70px;
}

.sidebar-item {
    font-size: 23px;
    margin-bottom: 10px;
}

.sidebar-item:hover {
    font-size: 23.5px;
}

.easter-egg {
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    bottom: 15%;
    left: 90%;
    width: 70px;
    opacity: 0;
    transition: opacity 1s;
    transition-delay: 1s;
    background-color: #111111;
    color: white;
    border-color: white;
    font-size: 20px;
}

.easter-egg:hover {
    opacity: 0.5;
}

/*@media screen and (min-height: 658px) {*/
/*.space {*/
/*font-size: 60px;*/
/*}*/

/*.continue-arrow {*/
/*bottom: 10%;*/
/*height: 60px;*/
/*left: 50%;*/
/*width: 60px;*/
/*}*/

/*#continue_arrow:hover {*/
/*height: 63px;*/
/*left: 49.8%;*/
/*width: 63px;*/
/*}*/

/*.work {*/
/*font-size: 30px;*/
/*}*/

/*.height:after {*/
/*content: 'h658';*/
/*}*/
/*}*/

/*@media screen and (max-height: 658px)*/
/*and (min-height: 600px) {*/
/*.space {*/
/*font-size: 55px;*/
/*}*/

/*.continue-arrow {*/
/*bottom: 6%;*/
/*height: 55px;*/
/*left: 50%;*/
/*width: 55px;*/
/*}*/

/*#continue_arrow:hover {*/
/*height: 58px;*/
/*left: 49.8%;*/
/*width: 58px;*/
/*}*/

/*.work {*/
/*font-size: 27.5px;*/
/*}*/

/*.height:after {*/
/*content: 'h600';*/
/*}*/
/*}*/

/*@media screen and (max-height: 600px)*/
/*and (min-height: 0px) {*/
/*.space {*/
/*font-size: 50px;*/
/*}*/

/*.continue-arrow {*/
/*bottom: 5%;*/
/*height: 50px;*/
/*left: 50%;*/
/*width: 50px;*/
/*}*/

/*#continue_arrow:hover {*/
/*height: 55px;*/
/*left: 49.8%;*/
/*width: 55px;*/
/*}*/

/*.work {*/
/*font-size: 25px;*/
/*}*/

/*.height:after {*/
/*content: 'h0';*/
/*}*/
/*}*/

/*@media screen and (min-width: 1300px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 250px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w1300'*!*/
/*!*}*!*/
/*}*/

/*@media screen and (max-width: 1300px)*/
/*and (min-width: 1170px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 220px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w1170'*!*/
/*!*}*!*/
/*}*/

/*@media screen and (max-width: 1170px)*/
/*and (min-width: 990px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 130px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w990'*!*/
/*!*}*!*/
/*}*/

/*@media screen and (max-width: 990px)*/
/*and (min-width: 950px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 100px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w950'*!*/
/*!*}*!*/
/*}*/

/*@media screen and (max-width: 950px)*/
/*and (min-width: 850px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 85px;*!*/
/*!*}*!*/
/*!*.space {*!*/
/*!*font-size: 50px;*!*/
/*!*}*!*/
/*!*.work {*!*/
/*!*font-size: 25px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w850'*!*/
/*!*}*!*/
/*}*/

/*@media screen and (max-width: 850px)*/
/*and (min-width: 689px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 70px;*!*/
/*!*}*!*/
/*!*.space {*!*/
/*!*font-size: 40px;*!*/
/*!*}*!*/
/*!*.work {*!*/
/*!*font-size: 20px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w689'*!*/
/*!*}*!*/
/*}*/

/*@media screen and (max-width: 689px)*/
/*and (min-width: 672px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 70px;*!*/
/*!*}*!*/
/*!*.space {*!*/
/*!*font-size: 37.5px;*!*/
/*!*}*!*/
/*!*.work {*!*/
/*!*font-size: 18px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w672'*!*/
/*!*}*!*/
/*}*/

/*@media screen and (max-width: 672px)*/
/*and (min-width: 626px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 65px;*!*/
/*!*}*!*/
/*!*.space {*!*/
/*!*font-size: 35px;*!*/
/*!*}*!*/
/*!*.work {*!*/
/*!*font-size: 17.5px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w626'*!*/
/*!*}*!*/
/*}*/

/*@media screen and (max-width: 626px)*/
/*and (min-width: 553px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 50px;*!*/
/*!*}*!*/
/*!*.space {*!*/
/*!*font-size: 30px;*!*/
/*!*}*!*/
/*!*.work {*!*/
/*!*font-size: 15px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w553'*!*/
/*!*}*!*/
/*}*/

/*@media screen and (max-width: 553px)*/
/*and (min-width: 537px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 45px;*!*/
/*!*}*!*/
/*!*.space {*!*/
/*!*font-size: 27px;*!*/
/*!*}*!*/
/*!*.work {*!*/
/*!*font-size: 15px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w537'*!*/
/*!*}*!*/
/*}*/

/*@media screen and (max-width: 537px)*/
/*and (min-width: 424px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 35px;*!*/
/*!*}*!*/
/*!*.space {*!*/
/*!*font-size: 25px;*!*/
/*!*}*!*/
/*!*.work {*!*/
/*!*font-size: 15px;*!*/
/*!*}*!*/
/*!*body {*!*/
/*!*margin: 50px 40px 60px;*!*/
/*!*}*!*/
/*!*#console_menu {*!*/
/*!*font-size: 30px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w424'*!*/
/*!*}*!*/
/*}*/

/*@media screen and (max-width: 424px)*/
/*and (min-width: 390px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 30px;*!*/
/*!*}*!*/
/*!*.space {*!*/
/*!*font-size: 22.5px;*!*/
/*!*}*!*/
/*!*.work {*!*/
/*!*font-size: 15px;*!*/
/*!*}*!*/
/*!*body {*!*/
/*!*margin: 50px 40px 60px;*!*/
/*!*}*!*/
/*!*#console_menu {*!*/
/*!*font-size: 30px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w390'*!*/
/*!*}*!*/
/*}*/

/*@media all and (max-width: 390px)*/
/*and (min-width: 343px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 22px;*!*/
/*!*}*!*/
/*!*.space {*!*/
/*!*font-size: 20px;*!*/
/*!*}*!*/
/*!*.work {*!*/
/*!*font-size: 12.5px;*!*/
/*!*}*!*/
/*!*body {*!*/
/*!*margin: 50px 35px 60px;*!*/
/*!*}*!*/
/*!*#console_menu {*!*/
/*!*font-size: 27px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w343'*!*/
/*!*}*!*/
/*}*/

/*@media all and (max-width: 343px)*/
/*and (min-width: 301px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 15px;*!*/
/*!*}*!*/
/*!*.space {*!*/
/*!*font-size: 17px;*!*/
/*!*}*!*/
/*!*.work {*!*/
/*!*font-size: 12.5px;*!*/
/*!*}*!*/
/*!*body {*!*/
/*!*margin: 50px 35px 60px;*!*/
/*!*}*!*/
/*!*#console_menu {*!*/
/*!*font-size: 27px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w301'*!*/
/*!*}*!*/
/*}*/

/*@media all and (max-width: 301px)*/
/*and (min-width: 250px) {*/
/*!*.pad-body {*!*/
/*!*padding-left: 10px;*!*/
/*!*}*!*/
/*!*.space {*!*/
/*!*font-size: 15px;*!*/
/*!*}*!*/
/*!*.work {*!*/
/*!*font-size: 10px;*!*/
/*!*}*!*/
/*!*body {*!*/
/*!*margin: 50px 30px 60px;*!*/
/*!*}*!*/
/*!*#console_menu {*!*/
/*!*font-size: 20px;*!*/
/*!*}*!*/
/*!*.width:after {*!*/
/*!*content: 'w250'*!*/
/*!*}*!*/
/*}*/

/*.console-menu {*/
/*font-size: 40px;*/
/*}*/


