
body {
    background: #111111;
}

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Work Sans'), local('WorkSans-Regular'), url(https://fonts.gstatic.com/s/worksans/v3/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/*all fonts*/
.text,
.space,
.work,
.space-font,
.white,
.continue-arrow-lbl {
    color: white;

}

.code-literal,
.str,
.int,
.kept,
.magic,
.self,
.super,
.doc {
    font-family: monospace;
}

.bold {
    font-weight: bolder;
}

.monospace-bg, .monospace,
.code-block {
    background-color: #1a1a1a;
}

.monospace {
    font-family: Consolas, 'sans-serif';
    color: #cfcfcf;
}

.work,
.go-up,
.continue-arrow-lbl {
    font-family: 'Work Sans', sans-serif;
}

.space, .space-font, .sidebar-item {
    font-family: 'Space Mono', monospace;

}

/*position: fixed*/
.console-menu,
.continue-arrow,
.go-up,
.sidebar-item,
.continue-arrow-lbl {
    position: fixed;
}

.turquoise {
    color: #29ffdb;
    /*color: #00DFBA !*greyer*!*/

    /*color: #88B1AA*/ /*too dark*/
    /*color: #95AAA6 !*too dark*!*/

    /*almost grey*/
    /*color: #ACC1BE*/
    /*color: #B2BBC6 !*better?*!*/

    /*github grey*/
    /*color: #8d9092*/
    /*color: #c8c9cb*/
    /*color: #D9D9D9*/

    /*github torquise bg*/
    /*color: #dff1fc*/

    /*terminal green*/
    /*color: #007f00*/
    /*color: #0F990F*/
    /*color: #2CB22C*/

    /*string green*/
    /*color: #6a8759*/
    /*color: #8BA57B*/
    /*color: #B7CBAB*/
}

.italic {
    font-style: italic;
}

.continue-arrow,
.continue-arrow-lbl {
    transition: width 400ms,
    height 400ms, left 800ms,
    content 800ms;
}

/*opacity 0*/
.go-up,
.sidebar-item {
    opacity: 0;
}

.download-link:hover {
    text-decoration: underline;
}

.download-link:hover,
.go-up,
.continue-arrow,
.console-menu,
.sidebar-item {
    cursor: pointer;

}

.no-decor {
    /*text-decoration: underline;*/
    text-decoration-color: white;
}

.go-up {
    margin-left: auto;
    margin-right: auto;
    transition: width 400ms, height 400ms, left 400ms;

}

.code-literal {
    /*color: #a9b7c6;*/
    color: #C4D5E6;
}

.str {
    color: #708F5D
}

.int {
    color: #79B2DE
}

.kept {
    color: #EE8B36
}

.magic {
    color: #B903B9
}

.self {
    color: #9E5E97
}

.super {
    color: #8B8BCC;
}

.doc {
    color: #699F5B
}

.scroll-hover:hover {

}

.sub-title,
.sidebar-item,
.grey {
    color: #bbbbbb;
}

.dark-grey {
    color: #999999;
}

.sidebar-item {
    background-color: #111111;
    border: #111111;
    transition: font-size 500ms, color 500ms;
}

.sidebar-item:hover,
.light-grey {
    color: #dfdfdf;
}

.grid-container {
    display: inline-grid;
}

.grid_0 {
    grid-column-start: 1;
    grid-column-end: 2;
}

.grid_1 {
    grid-column-start: 2;
    grid-column-end: 3;
}

.grid_2 {
    grid-column-start: 3;
    grid-column-end: 4;
}

/*.continue-arrow,*/
/*#continue_arrow_lbl {*/
/*position: fixed;*/
/*transition: width 400ms, height 400ms, left 800ms;*/
/*}*/