{% load staticfiles %}
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="viewport" content="height=device-height, initial-scale=1">
<title>autosyntax</title>
<link rel="shortcut icon" href="{% static 'common/favicon.png' %}">
<link rel="stylesheet" type="text/css"
      href="{% static 'common/css/style.css' %}"/>
<link rel="stylesheet" type="text/css"
      href="{% static 'common/css/proportions.css' %}"/>
<link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
<script src="{% static 'common/js/bezier.js' %}"></script>
<script src="{% static 'common/js/utils.js' %}"></script>
<script src="{% static 'common/js/continue_arrow.js' %}"></script>
<div id="hamburger" class="disp-none">
    {% include 'common/hamburger.html' %}
    <br>
</div>
<div id="all" class="no-select op0">
    <div class="grid-container">
        {#    H A M B U R G E R #}
        <div id="grid_0" class="grid-item grid-0">
            {# C O N S O L E  M E N U#}
            <img src="{% static '/common/img/console_menu.svg' %}"
                 id="console_menu"
                 class="console-menu height30 width30"/>

            {# S I D E B A R#}
            <div class="space-font sidebar pl20 pt70" id="sidebar">
                {% for item in sidebar_items %}
                    <div class="sidebar-item fs20 mb10"
                         id="sidebar_item_{{ forloop.counter }}">
                        {{ item }}
                    </div><br><br>
                {% endfor %}
            </div>
            {#        B A C K#}
            <a href="/">
                <svg id="back" class="back op7 fs23 work width110 top88 ztop disp-none">
                    <text x="0" y="20" fill="white">HOME</text>
                </svg>
            </a>
        </div>
        {#        end grid-0#}

        {#    C O N T I N U E  A R R O W#}
        <div id="continue_arrow_lbl"
             class="continue-arrow-lbl work fs20 op0 width110 top84 disp-none"></div>


        <img src="{% static '/common/img/continue.svg' %}"
             id="continue_arrow"
             class="continue-arrow top88 height60 width60 op0"
        />

        {#G O  U P#}
        <svg id="go_up" class="go-up fs23 width110 top88 ztop l90">
            <text x="0" y="20" fill="white">TOP</text>
        </svg>


        {#        <div class="grid-item grid-1">#}
        <div class="pad-body grid-item grid-1" id="pad_body">
            {# B L O C K  C O N T E N T#}
            {% block content %}
            {% endblock %}
            {# E N D  B L O C K  C O N T E N T#}
        </div>
        {#    end pad-body#}
        {#        </div>#}
        {# end grid_1#}


    </div>
    <div class="fs35 op0">
        {% lorem %}
    </div>
    {#    end grid container#}

</div>
{#end all#}
<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

<script src="{% static 'common/js/responsive_utils.js' %}"></script>
<script src="{% static 'common/js/mobile.js' %}"></script>
<script src="{% static 'common/js/responsive.js' %}"></script>
<script src="{% static 'common/js/layout.js' %}"></script>
