{% load static %}
{% load tags %}{% load filters %}

<img class="ztop"
     id="hamburger_img"
     src="{% static '/common/img/NOTSURE/hamb_thin5.png' %}"/>
{% br 4 %}
<div id="hamburger_menu" class="space fshamburger disp-none op0 ztop">
    <span id="hamburger_item_1">What is it?</span>
    {% br 2 %}
    <span id="hamburger_item_2">Download</span>
    {% br 2 %}
    <span id="hamburger_item_3">How to use</span>
    {% br 2 %}
    <span id="hamburger_item_4">Who am I? (CV)</span>
    {% br 2 %}

</div>
<svg id="hamburger_footer"
     class="space fshamburger width110 top88 height60 mt0 ztop l disp-none op0">
    <text x="0" y="35" fill="white">HOME</text>
</svg>

